body {
  text-align: center;
  background-color: #21222e;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
li::selection {
  background: rgba(255, 190, 142, 0.77);
}
h1 {
  color: rgba(61, 43, 199, 0.83);
  font-weight: 600;
  text-shadow: 1px 1px grey;
}
li {
  color: aliceblue;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: 60px;
}
li.trzecia {
  color: aliceblue;
  font-size: 15px;
  letter-spacing: 4px;
  line-height: 1.5;
  margin-left: 70px;
  margin-right: 70px;
}
li.opcje {
  float: left;
  display: block;
  list-style-type: none;
  background-color: #333;
  margin: 0 !important;
  color: aliceblue;
  font-size: 20px;
  padding: 10px 16px;
}
li.podkr {
  text-decoration: underline;
  letter-spacing: 4px;
}
li.opcje:hover {
  background-color: #f4ccc0;
}
ul.nav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 0 !important;
  background: #333;
  box-shadow: 7px 8px 12px 0px black;
}
div {
  padding: 0;
  /* padding-inline-start: 0 !important; */
}
a:link {
  text-decoration: none;
  color: blanchedalmond;
}
a:visited {
  color: rgba(255, 255, 255, 0.83);
}
a:hover {
  color: rgba(61, 43, 199, 0.83);
}
a:active {
  color: #9191c6;
}
